* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main_div {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: rgba(4, 0, 255, 0.5);
  background:url("https://images.unsplash.com/photo-1447703693928-9cd89c8d3ac5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZGFyayUyMGRlc2lnbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60") ;
}
.main_div .container {
  width: 60%;
  margin: 15vh auto;
  padding: 2rem;
  text-align: center;
  font-size: 0.7rem;
  background-color: rgba(255, 255, 255, 0.158);
  border-radius: 12px;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.178);
}
.main_div .container h1 {
  -webkit-font-smoothing: antialiased;
  font-family: monospace;
  user-select: none;
  color: #fff;
}
.main_div .container .additems {
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 1.6rem;
  border-radius: 6px;
}
.main_div .container .additems input {
  padding: 0.6rem 0.3rem 0.6rem 1rem;
  font-weight: 500;
  outline: none;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  border: none;
}
.main_div .container .additems i {
  margin-left: 0.2rem;
  font-size: 1.6rem;
  padding: 0.3rem 0.5rem;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.main_div .container .additems i:hover {
  color: rgb(54, 255, 47);
  transform: rotate(-90deg);
}

.showItems h1 {
  width: 80%;
}
.showItems {
  margin-top: 1rem;
  width: 100%;
  font-size: 0.6rem;
}
.showItems .eachItem {
  background-color: rgba(0, 0, 0, 0.323);
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.3rem;
  border-radius: 8px;
  border: 3px solid transparent;
  transition: all 0.3s ease;

}
.showItems .eachItem:hover{
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid rgba(30, 255, 0, 0.323);
}
.showItems .eachItem h1{
margin-left: 1rem;
  text-align: left;
}
.showItems .eachItem:hover h1{
  color: black;
}
.showItems .eachItem:hover i{
  color: red;
}
.showItems .eachItem i{
  padding: 0.3rem;
  margin-right: 0.8rem;
  font-size: 1.3rem;
  color: #fff;
  transition: all 0.3s ease;
}
.showItems .eachItem i:hover{
color: red;
}
button{
  margin-top: 2rem;
  padding: 0.5rem ;
  width: 100%;
  border-radius: 7px;
  border: none;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 1.1rem;
  transition: all 0.4s ease;
}
button:hover{
  background-color: rgb(255, 0, 0);
}
@media only screen and (min-width:1090px){
  .main_div .container {
    width: 29%;
  }
}